![](DaThabor_Logo.png)

----------

# MENTORING ASSIGNMENT

<br>

Deadline 02 May 2020

<br>

## Descriptive Analysis

<br>

Create your first descriptive analysis in a notebook

<br>

----------

This weeks assignment is to follow this notebook, run the particular cells (which are predefined) and add your insights from the output in your own words. This is to learn how to interpret the data and the outcomes you see.

<br>

## Set up of environment

First we will run the following code cell, which will load the required packages in your environment, and will load the data set.

In [8]:
#######################################
#### IMPORT PACKAGES AND LOAD DATA ####
#######################################

# Load the packages
import pandas as pd
import numpy as np

# Load the data sets
confirmed = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
deaths = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
recovered = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")

### 1.0 | Summary of data

The first assignment is to look at the data set and get some basic information, before we get to the descriptive statistics of the data set.

In [14]:
confirmed.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,933,996,1026,1092,1176,1279,1351,1463,1531,1703
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,548,562,584,609,634,663,678,712,726,736
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2534,2629,2718,2811,2910,3007,3127,3256,3382,3517
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,704,713,717,717,723,723,731,738,738,743
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,24,24,24,25,25,25,25,26,27
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,23,23,23,23,24,24,24,24,24,24
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,2758,2839,2941,3031,3144,3435,3607,3780,3892,4003
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,1248,1291,1339,1401,1473,1523,1596,1677,1746,1808
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,103,103,104,104,104,104,105,106,106,106
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2936,2957,2963,2969,2971,2976,2982,2994,3002,3004

In [15]:
confirmed.tail(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,5,5,5,5,11,11,11,11,11,11
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,30,35,43,50,61,64,82,82,93,93
256,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,0,0,0,0,0,0,...,3,5,5,5,5,5,5,5,5,5
257,NaN,Malawi,-13.254308,34.301525,0,0,0,0,0,0,...,17,17,17,18,23,33,33,33,34,36
258,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,11,11,11,11,11,12,13,13,13,13
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,4,4,5,5,5,6,6
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

> **Assignment 01** | Describe below 3 insights from the data above:

In [17]:
print("The first observation from this data set is, ", 
      "ADD YOUR TEXT BETWEEN THE BRACKETS")
print("The second observation from this data set is, ", 
      "ADD YOUR TEXT BETWEEN THE BRACKETS")
print("The third observation from this data set is, ", 
      "ADD YOUR TEXT BETWEEN THE BRACKETS")

The first observation from this data set is,  ADD YOUR TEXT BETWEEN THE BRACKETS
The second observation from this data set is,  ADD YOUR TEXT BETWEEN THE BRACKETS
The third observation from this data set is,  ADD YOUR TEXT BETWEEN THE BRACKETS

> EXAMPLE ANSWERS | Below is one example

In [18]:
print("The first observation from this data set is, ", 
      "that there are negative values in the Long column")

The first observation from this data set is,  that there are negative values in the Long column